{% extends 'base.html.twig' %}
{% block route %} {% if famille %}{{ path('app_especes',{idFamily : idFamily })}}
{% else %} {{ path('app_especes_showall') }} {% endif %}{% endblock %}
{% block title %}Liste des espèces {% if famille %} appartenant à la famille {{ familyName }} {% endif %} {% endblock %}
{% block stylesheets %} <link href="{{ asset('css/especes.css') }}" rel="stylesheet"> {% endblock %}
{% block body %}
    <h1 class="species">Liste des espèces {% if famille %} appartenant à la famille {{ familyName }} {% endif %}</h1>
    <ul class="especesAnimal">
        {% for espece in species %}
            {% if famille %}
                {% for esp in espece.especes %}
                    {% set image = esp.image.image|default(asset('img/default.png')) %}
                    <li class="species-list"><a class="nav-link species-link" href="{{ path('app_animals', {'idEspece': esp.id}) }}">
                            <div class="DescriptionEspèce">
                                <span>{{ esp.libEspece |capitalize }}</span>
                                <span>{{ esp.descriptionEspece |capitalize}}</span>
                            </div>
                                <div class="img-centre">
                                    <img class="specie-img" src="{{ image }}" alt="Image inconnue" width="256" height="256">
                                </div>
                            <div class="DétailsEspèce">
                                <span>{{ esp.regime.nomRegime |capitalize }}</span>
                                <span>{{ esp.animals |length }} individus dans l'espèce</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                {% set image = espece.image.image|default(asset('img/default.png')) %}
                <li class="species-list"><a class="nav-link species-link" href="{{ path('app_animals', {'idEspece': espece.id}) }}">
                        <div class="DescriptionEspèce">
                            <span id="libEspece">{{ espece.libEspece |capitalize }}</span>
                            <span>{{ espece.descriptionEspece |capitalize}}</span>
                        </div>
                            <div class="img-centre">
                                <img class="specie-img" src="{{ image }}" alt="Image inconnue" width="256" height="256">
                            </div>
                        <div class="DétailsEspèce">
                            <span>{{ espece.regime.nomRegime |capitalize }}</span>
                            <span>{{ espece.animals |length }} individus dans l'espèce</span>
                        </div>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
