{% extends 'base.html.twig' %}

{% block title %} {{ event.name }} {% endblock %}

{% block body %}

    <h1 class="subsectionTitle">{{ event.name |capitalize}}</h1>
    <dl>
        <dt> Description évènement </dt>
        <dd> {{ event.description | capitalize }}</dd>
        <dt> Date</dt>
        <dd> {{ event.date.format('Y-m-d H:i') }}</dd>
        <dt> Nombre de visiteurs</dt>
        <dd> {{ event.quota }}</dd>
    </dl>
    {% dump(events) %}
    <p>Voulez vous voir d'autres évènements</p>
    <a href="{{ path('app_event_show', {id:event.id +1}) }}">Suivant</a>
{% endblock %}
