{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="subsectionTitle">Fiche de l'animal {{ animal.nomAnimal }} ({{ animal.espece.libEspece }})</h1>
    <dl>
        <dt>Nom :</dt>
        <dd>{{ animal.nomAnimal }}</dd>
        <dt>Description :</dt>
        <dd>{{ animal.descriptionAnimal }}</dd>
        <dt>Espèce :</dt>
        <dd>{{ animal.espece.libEspece }}</dd>
        <dt>Enclos :</dt>
        <dd>{{ animal.enclos.nomEnclos }}</dd>
        <dt>Image :</dt>
            <dd><img src="{{ animal.image.image ?? asset('img/default.png') }}" width="256" height="256" alt="Image animal"></dd>
        {#  A implémenter lorque les entités auront été liées
        {% if (animal.parent1 is not null) %}
            <dt>Parent(s) :</dt>
            <dd>{{ animal.parent1 }}</dd>
            {% if (animal.parent2 is not null) %}
                <dd>{{ animal.parent2 }}</dd>
                {% endif %}
        {% endif %}
        #}
    </dl>
{% endblock %}

{% block title %}
    {{ animal.nomAnimal }}
{% endblock %}