{% extends 'base.html.twig' %}
{% block route %} {% if category %}{{ path('app_families',{idCategory : idCategory })}}
{% else %} {{ path('app_families_showall') }} {% endif %}{% endblock %}
{% block title %}Liste des familles {% if category %}appartenant à la catégorie {{ categoryName }} {% endif %} {% endblock %}
{% block body %}
    <h1>Liste des familles {% if category %}appartenant à la catégorie {{ categoryName }} {% endif %}</h1>
    <ul class="famillesAnimal">
        {% for famille in families %}
            {% if category %}
                {% for fam in famille.familleAnimals %}
                    {% set image = fam.image.image|default(asset('/img/default.png')) %}
                    <li>
                        <a class="nav-link" href="{{ path('app_especes', {'idFamily': fam.id}) }}">
                            {{ fam.nomFamille }} 
                            <span class="badge bg-secondary">
                                {{ fam.descriptionFamille }} 
                            </span>
                            <img src="{{ image }}" alt="Image inconnue" width="256" height="256">
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                {% set image = famille.image.image|default(asset('/img/default.png')) %}
                <li>
                    <a class="nav-link" href="{{ path('app_especes', {'idFamily': famille.id}) }}">
                        {{ famille.nomFamille }} 
                        <span class="badge bg-secondary">
                            {{ famille.descriptionFamille }}
                        </span>
                        <img src="{{ image }}" alt="Image inconnue" width="256" height="256">{% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}