{% extends 'base.html.twig' %}

{% block title %}Liste des évènements {% if enclos %} pour l'enclos {{ EnclosName }} {% endif %} {% endblock %}

{% block body %}
    <h1>Liste des évènements {% if enclos %} pour l'enclos {{ EnclosName }} {% endif %}</h1>
    <ul class="Evenements">
        {% for event in events %}
            {% if enclos %}
                {% for ev in event %}
                    <li>
                    <span class="evenement">
                        <a href="{{ path('app_evenement_delete', {id:event.id}) }}"><span class="material-symbols-outlined text-danger">delete</span></a>
                        {{ ev.nomEvenement }}
                        {{ ev.descriptionEvenement }}
                    </span>
                    <span class="badge bg-secondary">
                        {{ event.enclos.nomEnclos }}
                    </span>
                </li>
                {% endfor %}
            {% else %}
                <li>
                <span class="evenement">
                    <a href="{{ path('app_evenement_delete', {id:event.id}) }}"><span class="material-symbols-outlined text-danger">delete</span></a>
                    {{ event.nomEvenement }}
                    {{ event.descriptionEvenement }}
                </span>
                    <span class="badge bg-secondary">
                    {{ event.enclos.nomEnclos }}
                </span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}