{% extends 'base.html.twig' %}

{% block title %} {{ evenement.nomEvenement }} {% endblock %}

{% block body %}

    <h1>{{ evenement.nomEvenement }}</h1>
    <dl>
        <dt> Description évènement </dt>
        <dd> {{ evenement.descriptionEvenement }}</dd>
        <dt> Date</dt>
        <dd> {{ evenement.dateEvenement.format('Y-m-d H:i') }}</dd>
        <dt> Nombre de visiteurs</dt>
        <dd> {{ evenement.quotaVisiteurs }}</dd>
    </dl>
{% endblock %}
