{% extends 'base.html.twig' %}
{% block route %} {% if family %}{{ path('app_species',{idFamily : idFamily })}}
{% else %} {{ path('app_species_showAll') }} {% endif %}{% endblock %}
{% block title %}Liste des espèces {% if family %} appartenant à la famille {{ name }} {% endif %} {% endblock %}
{% block stylesheets %} <link href="{{ asset('css/species.css') }}" rel="stylesheet"> {% endblock %}
{% block body %}
    <h1 class="subsectionTitle text-center">Liste des espèces {% if family %} appartenant à la famille {{ name }} {% endif %}</h1>
    <hr>
    <ul class="especesAnimal">
        {% for singleSpecies in species %}
            {% if family %}
                {% for esp in singleSpecies.species %}
                    {% set image = esp.image.image|default(asset('img/default.png')) %}
                    <li class="species-list"><a class="nav-link species-link" href="{{ path('app_animals', {'idSpecies': esp.id}) }}">
                            <div class="DescriptionEspèce d-flex flex-column">
                                <span>{{ esp.name |capitalize }}</span>
                                <span style="width: 15vh>{{ esp.description |capitalize}}</span>
                            </div>
                                <div class="img-centre">
                                    <img class="specie-img" src="{{ image }}" alt="Image inconnue" width="256" height="256">
                                </div>
                            <div class="DétailsEspèce">
                                <span>{{ esp.diet.name |capitalize }}</span>
                                <span>{{ esp.animals |length }} individus dans l'espèce</span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                {% set image = singleSpecies.image.image|default(asset('img/default.png')) %}
                <li class="species-list"><a class="nav-link species-link" href="{{ path('app_animals', {'idSpecies': singleSpecies.id}) }}">
                        <div class="DescriptionEspèce d-flex flex-column">
                            <span class="libEspece">{{ singleSpecies.name |capitalize }}</span>
                            <span style="width: 15vh">{{ singleSpecies.description |capitalize}}</span>
                        </div>
                            <div class="img-centre">
                                <img class="specie-img" src="{{ image }}" alt="Image inconnue" width="256" height="256">
                            </div>
                        <div class="DétailsEspèce">
                            <span>{{ singleSpecies.diet.name |capitalize }}</span>
                            <span>{{ singleSpecies.animals | length }} individus dans l'espèce</span>
                        </div>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}
