{% extends 'base.html.twig' %}
{% block route %} {% if espece %}{{ path('app_animals',{idEspece : idEspece })}}
{% else %} {{ path('app_animals_showall') }} {% endif %}{% endblock %}
{% block title %}Liste des animaux {% if espece %}appartenant à l'espèce {{ especeName }}{% endif %} {% endblock %}
{% block body %}
    <h1>Liste des espèces {% if espece %}appartenant à l'espèce {{ especeName }}{% endif %}</h1>
    <ul class="animals">

        {% for animal in animaux %}
            {% if espece %}
                {% for an in animal.animals %}
                    {% set image = an.image.image|default('') %}
                    <li>{{ an.nomAnimal  }} <span class="badge bg-secondary">{{ an.descriptionAnimal }} </span>
                        {% if image != '' %}
                        <img src="{{ image }}" alt="Image inconnue" width="256" height="256">
                        {% endif%}
                    </li>
                {% endfor %}
            {% else %}
                {% set image = animal.image.image|default('') %}
                <li>{{ animal.nomAnimal  }} <span class="badge bg-secondary">{{ animal.descriptionAnimal }} </span>
                    {% if image != '' %}
                    <img src="{{ image }}" alt="Image inconnue" width="256" height="256">
                    {% endif%}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endblock %}
