{% extends 'base.html.twig' %}
{% block route %} {% if espece %}{{ path('app_animals',{idEspece : idEspece })}}
{% else %} {{ path('app_animals_showall') }} {% endif %}{% endblock %}
{% block title %}Liste des animaux {% if espece %}appartenant à l'espèce {{ especeName }}{% endif %} {% endblock %}
{% block body %}
    <h1 class="text-center subsectionTitle">Liste des animaux {% if espece %}appartenant à l'espèce {{ especeName }}{% endif %}</h1>
    <hr>
    <form class="d-flex mt-3 mb-5" role="search" action="{% if espece %}{{ path('app_animals',{idEspece : idEspece })}}
                                                            {% else %} {{ path('app_animals_showall') }} {% endif %}">
        <input class="form-control me-2" type="search" placeholder="Rechercher un animal parmis cette liste" aria-label="Search" name="search" value="{{ search |default('') }}">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
    <ul class="animals">

        {% for animal in animaux %}
            {% if espece %}
                {% for an in animal.animals %}
                    {% set image = an.image.image|default('') %}
                    <li class="animalElement">{{ an.nomAnimal  }} <span class="badge bg-secondary">{{ an.descriptionAnimal }} </span>
                        <img src="{{ an.image.image ?? asset('/img/default.png')}}" alt="Image inconnue" width="256" height="256"> </li>
                {% endfor %}
            {% else %}
                {% set image = animal.image.image|default('') %}
                <li class="animalElement">{{ animal.nomAnimal  }} <span class="badge bg-secondary">{{ animal.descriptionAnimal }} </span>
                    <img src="{{ animal.image.image ?? asset('/img/default.png')}}" alt="Image inconnue" width="256" height="256"> </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endblock %}
